@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Bebas Neue';
}

html{
    scroll-behavior: smooth;
}

.container-grid {
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-color: #19A3FA;
    height: 80px;
    position: fixed;
    width: 100vw;
    z-index: 99;
}

.conteudo-header {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.logo{
    height: 40px;
}

.menu-header {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-header a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.25em;
    transition: 0.5s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu-header a:hover:not(.botao) {
    font-size: 1.6em;
    transition: 0.5s;
    text-shadow: 4px 4px 6px #0000007a;
}

.botao{
    background-color: #0083d4;
    height: 45px;
    width: 160px;
    text-align: center;
    line-height: 47px;
    font-size: 1.25em !important;
    border: solid 1px #080324;
    margin-bottom: 1px;
}

.botao:hover{
    font-size: 1.42em !important;
    height: 50px;
    line-height: 53px;
    width: 170px;
    transition: 0.5s;
    box-shadow: 4px 4px 6px #0000007a;
}

.menu-barras{
    display: none;
}

.banner {
    background-image: url(../imagens/imagem-fundo-banner.jpg);
    height: 768px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.conteudo-banner {
    display: flex;
    align-items: flex-end;
    height: 100%;
}

.texto-banner {
    display: flex;
    flex-direction: column;
    height: 60%;
    justify-content: space-around;
}

h1 {
    color: white;
    font-size: 80px;
}

.linha-amarela {
    border: solid 1px #0083d4;
    margin-top: -60px;
}

.titulo-senai {
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 600;
    padding-left: 30px;
    margin-top: -50px;
}

.mouse {
    width: 80px;
}

.sobre-projetos {
    background-color: #f1f1f1;
    padding-top: 70px;
    padding-bottom: 70px;
}

.sobre-projetos h2 {
    color: #0083d4;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 40px;
}

.conteudo-sobre {
    display: flex;
    justify-content: space-between;
    
}

.imagem-sobre {
    width: 40%;
}

.texto-sobre {
    width: 50%;
}

.texto-participantes {
    color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 600;
}

.conteudo-sobre h3 {
    color: #0083d4;
    font-size: 45px;
    font-weight: 500;
}

.texto-sobre p {
    color: #000000;
    font-family: 'Segoe UI', sans-serif;
    text-align: justify;
}

.info {
    background-image: url(../imagens/imagem-fundo-info.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    padding: 70px 0;   
}

.conteudo-info {
    display: flex;
    justify-content: space-between;
}

.card-info {
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    margin: 20px;
}

.card-info h3 {
    color: #ffffff;
    font-size: 20px;
}

.card-info p {
    color: #ffffff;
    font-size: 22px;
    font-weight: 600;
    border: solid 2px #8b00db;
    background-color: #480071;
    width: 250px;
    padding: 30px 0;
    text-align: center;
}

.endereco {
    padding: 100px 0;
    background-image: url(../imagens/imagem-fundo-ranking.jpg);
}

.conteudo-endereco {
    margin: 0 auto;
    max-width: 850px;
    position: relative;
}

.conteudo-endereco h2 {
    color: rgb(253, 253, 253);
    font-size: 50px;
    font-weight: 500;
}

.texto-endereco {
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    background-color: #480071;
    border: solid 2px #8b00db;
    padding: 55px 55px;
}

.texto-endereco p {
    width: 400px;
    font-size: 20px;
}

.mapa {
    width: 250px;
    position: absolute;
    top: 0px;
    right: 20px;
}

footer {
    height: 80px;
    background-color: #0083d4;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer span {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 90%;
    text-align: center;
}

.menu{
    display: none;
}